@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center mt-5">
    <h2 style="color:red">Access Denied</h2>
    <p>You don’t have permission to access this page.</p>

    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
        Go to Login
    </a>
</div>